name: Build

on: [push, pull_request]

jobs:
  build-ubuntu:
    name: Build on Ubuntu (full)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0'
    - uses: actions/checkout@v4
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --logger "trx;LogFileName=test-results.trx"
    - name: Test Report
      uses: actions/upload-artifact@v4
      if: success() || failure()
      with:
        name: test-results
        path: '**/TestResults/*.trx'

  build-windows:
    name: Build on Windows
    runs-on: windows-latest
    steps:
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0'
    - uses: actions/checkout@v4
    - name: Enable Postgres
      run: sc config postgresql-x64-14 start= demand
    - name: Start Postgres
      run: net start postgresql-x64-14
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore /p:POSTGRES_ONLY=true
    - name: Test
      env:
        FLEXLABS_UPSERT_TESTS_POSTGRESQL_CONNECTION_STRING: 'Server=localhost;Port=5432;Database=testuser;Username=postgres;Password=root'
      run: dotnet test ./test/FlexLabs.EntityFrameworkCore.Upsert.IntegrationTests --no-build --logger "trx;LogFileName=test-results.trx"
    - name: Test Report
      uses: actions/upload-artifact@v4
      if: success() || failure()
      with:
        name: test-results-win
        path: '**/TestResults/*.trx'
