name: 'Test Report'
# Workflows triggered by pull requests from forked repositories are executed with read-only token and therefore can't create check runs.
# To workaround this security restriction, it's required to use two separate workflows

on:
  workflow_run:
    workflows: ['Build']
    types:
      - completed

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  report:
    runs-on: ubuntu-latest
    steps:
    - name: Extract test results
      uses: dorny/test-reporter@v1
      with:
        artifact: test-results
        name: Test Results (Ubuntu)
        path: '**/TestResults/*.trx'
        reporter: dotnet-trx
    - name: Extract test results (Windows)
      uses: dorny/test-reporter@v1
      with:
        artifact: test-results-win
        name: Test Results (Windows)
        path: '**/TestResults/*.trx'
        reporter: dotnet-trx
